@import "variables";

.Avatar_Area {
    min-width: 172px;
    min-height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    margin-bottom: 6px;

    &_Avatar {
        width: 32px;
        height: 32px;
    }

    // span {
    //     max-width: 100px;
    //     white-space: nowrap;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    // }

    .DropDown {
        color: $text-color;
    }
}