html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif !important;
  color: #343434;
  font-weight: 500;
  background-color: white;
  height: 100%;
}

.onboard-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  height: 100vh;
}
.onboard-wrapper .left, .onboard-wrapper .left-signup, .onboard-wrapper .left-signin {
  width: 100%;
  height: 100%;
  background-image: url("../images/unsplash.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  flex: 1;
}
.onboard-wrapper .left-signin {
  background-image: url("../images/unsplash_signin.png");
}
@media screen and (max-width: 1024px) {
  .onboard-wrapper .left-signin {
    display: none;
  }
}
.onboard-wrapper .left-signup {
  background-image: url("../images/signup-bg.png");
}
@media screen and (max-width: 1024px) {
  .onboard-wrapper .left-signup {
    display: none;
  }
}
.onboard-wrapper .right, .onboard-wrapper .right-signin {
  width: 100%;
  height: 100%;
  flex: 1;
}
.onboard-wrapper .right-bottom {
  height: 386px;
  bottom: 0;
  left: 50%;
  right: 0;
  position: absolute;
  background-image: url("../images/bottom.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (max-width: 1024px) {
  .onboard-wrapper .right, .onboard-wrapper .right-signin {
    display: none;
  }
}
.onboard-wrapper .right-signin-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 80px 40px auto 40px;
  min-height: 300px;
}
.onboard-wrapper .right-signin-container-nav {
  display: flex;
  justify-content: flex-start;
  padding: 21px 10px;
  cursor: pointer;
}
.onboard-wrapper .right-signin-container-content {
  margin: 80px 60px;
}
.onboard-wrapper .right-signin-container-content .heading .logo {
  max-width: 120px;
  max-height: 30px;
}
.onboard-wrapper .right-signin-container-content .heading .welcome {
  margin-top: 16px;
  font-size: 32px;
}
.onboard-wrapper .right-signin-container-content .group-input {
  margin: 32px 0px;
}
.onboard-wrapper .right-signin-container-content .group-action .signin {
  width: 100%;
}
.onboard-wrapper .right-signin-container-content .group-action .register-link {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}
.onboard-wrapper .right-signin-container-content .group-action .register-link .have-account {
  font-weight: 400;
  margin-right: 8px;
}
.onboard-wrapper .right-signin-container-content .group-action .register-link .register-now {
  font-weight: 400;
  color: #C43330;
  text-decoration: none;
}
.onboard-wrapper .right-signin-container-content .sign-seperator {
  margin-top: 32px;
  width: 100%;
  height: 24px;
  text-align: center;
  border-top: 1px solid #7F7F7F;
}
.onboard-wrapper .right-signin-container-content .sign-seperator .sepe-title {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  background-color: #FFF;
  padding: 0 16px;
  position: relative;
  top: -16px;
}
.onboard-wrapper .right-signin-container-content .signin-other-platform .sign-google {
  margin-bottom: 24px;
}
.onboard-wrapper .right-signin-container-content .signin-other-platform .sign-other-btn {
  background-color: #fff !important;
  border: 1px solid #C43330 !important;
  width: 100%;
  flex-direction: row !important;
  color: #C43330 !important;
}
@media screen and (max-width: 1024px) {
  .onboard-wrapper .right-signin {
    display: block;
  }
}
.onboard-wrapper .container {
  width: 380px;
  height: 272px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 24px;
  position: absolute;
  top: 30%;
  right: 20%;
  background-color: #fff;
}
.onboard-wrapper .container .text-intro {
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  color: #343434;
}
@media screen and (max-width: 1024px) {
  .onboard-wrapper .container {
    padding: 60px 32px;
    border-radius: 8px;
    left: 20px;
    right: 20px;
    top: 242px;
    width: auto;
  }
}

.ibuild-btn, .onboard-wrapper .right-signin-container-content .signin-other-platform .sign-other-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #C43330;
  border-radius: 8px;
  border: 1px solid transparent;
  color: #fff;
  min-width: 380px;
  min-height: 46px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .ibuild-btn, .onboard-wrapper .right-signin-container-content .signin-other-platform .sign-other-btn {
    min-width: 270px;
  }
}

label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #343434;
}

.wrapper {
  max-width: 1440px;
  height: auto;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 60px;
  gap: 16px;
  background: #fff;
  border: 0px solid #ECECEC;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .main-header {
    padding-top: 56px;
    border-bottom: 0.5px solid #BFBFBF;
  }
}
.main-header .logo {
  gap: 24px;
  max-width: 90px;
  max-height: 24px;
}
.main-header .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-header .menu .menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 32px;
}
.main-header .menu .menu-items .menu-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
  color: #343434;
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .main-header .menu .menu-items {
    display: none;
  }
}
.main-header .menu .toggle-button {
  display: none;
}
@media screen and (max-width: 1024px) {
  .main-header .menu .toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

#menuDrawer {
  padding: 52px 28px !important;
  width: 86%;
}

.nav-item {
  margin-bottom: 24px;
}

.nav-link {
  color: #343434 !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 150% !important;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 60px 16px;
}
.main-content .search-content {
  width: 100%;
  min-height: 440px;
  border-radius: 20px;
  background-image: url("../images/search-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (max-width: 1024px) {
  .main-content .search-content {
    min-height: 242px;
  }
}
.main-content section.cards {
  margin-top: 10px;
  padding: 80px 0;
}
.main-content section.cards .my-cards {
  width: 100%;
  margin: auto !important;
}
.main-content section.cards .my-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 32px;
  gap: 24px;
  min-height: 540px;
  background: #FFFFFF;
  box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.main-content section.cards .my-card .img-feat {
  min-height: 180px;
}
.main-content section.cards .my-card .card-desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  border-top: 1px solid #DDDDDD;
}
.main-footer .row-footer {
  width: 100%;
}
.main-footer .info {
  padding: 56px 24px 16px 120px;
}
.main-footer .info .logo-space {
  display: flex;
  flex-direction: column;
}
.main-footer .info .desc {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.main-footer .addresses {
  display: flex;
  align-items: flex-start;
  padding-left: 120px;
  gap: 8px;
}
.main-footer .addresses .address-icon {
  width: 24px;
  height: 24px;
}
.main-footer .addresses .address-info .desc {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.main-footer .addresses .address-info .desc :last-child {
  margin-bottom: 0px;
}
.main-footer .copyright {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 0px 16px;
  gap: 16px;
}
.main-footer .copyright .text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.footer-menu {
  padding: 115px 0px 0px 50px;
}
.footer-menu .nav-item {
  margin-bottom: 16px !important;
}
.footer-menu .nav-item:last-child {
  margin-bottom: 0px;
}
@media screen and (max-width: 1024px) {
  .footer-menu {
    padding-left: 120px;
  }
}

.footer-form {
  margin: 115px 50px;
  padding: 0px;
}
.footer-form #footer-search-input {
  background-color: #C43330;
}
@media screen and (max-width: 1024px) {
  .footer-form {
    padding-left: 70px;
  }
}

@media screen and (max-width: 1024px) {
  .row {
    gap: 24px !important;
  }
}

/*# sourceMappingURL=app.css.map */
