@import "variables";

.ant-pagination-item-active {
  background-color: $primary-color !important;
  color: #fff !important;
  font-weight: 500;
  font-size: 16px;
}

.ant-form-item-required {
  font-size: 16px;
  font-weight: 500;
}

.ant-form-item-explain-error {
  margin: 4px 0 !important;
}

// overrid .image-gallery-thumbnail
.image-gallery-thumbnail {
  max-width: 80px;
  max-height: 80px;

  &.active {
    border: 2px solid $primary-color;
  }

  &:hover {
    border: 2px solid $primary-color;
  }
}

.loading-dynamic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 200px;
  min-width: 200px;
}

.ant-col,
.ant-row {
  width: 100% !important;
}

.ant-select-selector {
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}

:where(.css-dev-only-do-not-override-rxinl6).ant-select:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border-color: inherit !important;
}

.ant-select-focused:where(.css-dev-only-do-not-override-rxinl6).ant-select:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: #ff4d14 !important;
  border-bottom: transparent !important;
  box-shadow: none;
}

:where(.css-dev-only-do-not-override-rxinl6).ant-select-dropdown
  .ant-select-item {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

.ant-select-item-option-content {
  font-family: "Roboto", sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  color: #333333 !important;
}

// custom pagination
.ant-pagination-item-active {
  background-color: #eb7a01 !important;
}

:where(.css-dev-only-do-not-override-rxinl6).ant-pagination
  .ant-pagination-item-active
  a {
  color: #fff !important;
  border: none !important;
}

.pagination .ant-pagination-item-active a {
  color: #fff !important;
}

:where(.css-dev-only-do-not-override-rxinl6).ant-pagination
  .ant-pagination-item-active {
  border-color: transparent !important;
}

:where(.css-dev-only-do-not-override-rxinl6).ant-pagination
  .ant-pagination-item-active:hover {
  border-color: transparent !important;
}

.ant-pagination-item-link {
  color: $primary-color !important;
}

:where(.css-dev-only-do-not-override-rxinl6).ant-pagination
  .ant-pagination-disabled
  .ant-pagination-item-link {
  color: rgba(0, 0, 0, 0.25) !important;
  display: none !important;
}

.ant-pagination-disabled {
  display: none !important;
}

:where(.css-dev-only-do-not-override-75u3cy).ant-pagination
  .ant-pagination-item-active:hover {
  border-color: $primary-color !important;
}

.ant-select-selector,
.ant-pagination-options {
  display: none !important;
}
