@import "variables";

.ant-pagination-item-active {
  background-color: $primary-color !important;
  color: #fff !important;
  font-weight: 500;
  font-size: 16px;
}

.ant-form-item-required {
  font-size: 16px;
  font-weight: 500;
}

.ant-form-item-explain-error {
  margin: 4px 0 !important;
}

// overrid .image-gallery-thumbnail
.image-gallery-thumbnail {
  max-width: 80px;
  max-height: 80px;

  &.active {
    border: 2px solid $primary-color;
  }

  &:hover {
    border: 2px solid $primary-color;
  }
}

.loading-dynamic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 200px;
  min-width: 200px;
}

.ant-col,
.ant-row {
  width: 100% !important;
}

.ant-select-selector {
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}

:where(.css-dev-only-do-not-override-rxinl6).ant-select:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border-color: inherit !important;
}

.ant-select-focused:where(.css-dev-only-do-not-override-rxinl6).ant-select:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: #ff4d14 !important;
  border-bottom: transparent !important;
  box-shadow: none;
}

:where(.css-dev-only-do-not-override-rxinl6).ant-select-dropdown
  .ant-select-item {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

.ant-select-item-option-content {
  font-family: "Roboto", sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  color: #333333 !important;
}

// custom pagination
.ant-pagination-item-active {
  background-color: #eb7a01 !important;
}

:where(.css-dev-only-do-not-override-rxinl6).ant-pagination
  .ant-pagination-item-active
  a {
  color: #fff !important;
  border: none !important;
}

.pagination .ant-pagination-item-active a {
  color: #fff !important;
}

:where(.css-dev-only-do-not-override-rxinl6).ant-pagination
  .ant-pagination-item-active {
  border-color: transparent !important;
}

:where(.css-dev-only-do-not-override-rxinl6).ant-pagination
  .ant-pagination-item-active:hover {
  border-color: transparent !important;
}

.ant-pagination-item-link {
  color: $primary-color !important;
}

:where(.css-dev-only-do-not-override-rxinl6).ant-pagination
  .ant-pagination-disabled
  .ant-pagination-item-link {
  color: rgba(0, 0, 0, 0.25) !important;
  display: none !important;
}

.ant-pagination-disabled {
  display: none !important;
}

:where(.css-dev-only-do-not-override-75u3cy).ant-pagination
  .ant-pagination-item-active:hover {
  border-color: $primary-color !important;
}

.ant-pagination-options {
  display: none !important;
}

// custom select tree
.ant-select-selection-placeholder {
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  color: rgba(0, 0, 0, 0.9) !important;
}

.menu-select-category {
  .ant-select-selection-item {
    font-family: "Roboto" !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 150% !important;
    color: #eb7a01 !important;
  }
}

.ant-select-selection-item {
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  color: #333333 !important;
}

.ant-select-tree-title {
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  color: #343434 !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: #999999;
}

.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(
    .ant-pagination-size-changer
  )
  .ant-select-selector {
  outline: none !important;
  box-shadow: none !important;
}

.ant-select-selector {
  border-radius: 4px !important;
  height: 100% !important;
}

.ant-select-open {
  .ant-select-selector {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

.ant-tree-select-dropdown {
  border: 1px solid #eb7a01 !important;
  border-top: none !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  padding: 22px 16px !important;
}

.ant-select-tree-treenode {
  position: relative !important;
  width: 100% !important;

  .ant-select-tree-switcher {
    position: absolute !important;
    right: 0 !important;
    z-index: 10 !important;
  }

  .ant-select-tree-switcher_open {
    transform: rotate(180deg);
    transition: all 0.5s;
  }
}

.ant-select-tree-list-holder-inner {
  gap: 28px !important;
}

// custom tree view
.ant-tree-list-holder-inner {
  gap: 28px !important;

  .ant-tree-treenode {
    width: 100% !important;
    position: relative;
    padding-right: 20px !important;

    .ant-tree-switcher {
      position: absolute;
      right: 10px;
      z-index: 10;
    }

    .ant-tree-switcher_close {
      transform: rotate(180deg);
      transition: all 0.5s;
    }

    .ant-tree-switcher_close {
      transition: all 0.5s;
    }
  }

  .ant-tree-checkbox + span.ant-tree-node-selected {
    background-color: transparent !important;
  }

  .ant-tree-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: $text-color;
  }
}

// custom carousel
.react-multi-carousel-list {
  position: static;
}

// banner
.banner {
  position: relative;

  .react-multi-carousel-dot-list {
    bottom: -25px;
  }

  .react-multiple-carousel__arrow {
    display: none;
  }

  .react-multi-carousel-track {
    height: 673px;
  }

  .react-multi-carousel-dot button {
    border-color: $primary-color;
  }

  .react-multi-carousel-dot--active button {
    background-color: $primary-color;
  }
}

.react-multi-carousel-list.container {
  width: 100% !important;
}

// custom tabs
.ant-tabs-nav::before,
.ant-tabs-content-holder {
  border-color: transparent !important;
}

.custom-width-tab {
  .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
    width: 40px !important;
  }
}

.ant-tabs-tab-btn {
  font-size: 16px !important;
}

.ant-tabs-nav-wrap {
  justify-content: flex-start !important;
}

.custom-position-tab {
  .ant-tabs {
    display: block;
  }
}

.account-info {
  .ant-input-lg {
    border-radius: 4px !important;
    padding: 11px 11px !important;
  }

  .ant-col {
    width: auto !important;
  }

  label {
    height: 48px !important;
    width: 120px !important;

    &::after {
      display: none !important;
    }
  }

  .ant-tag {
    padding: 16px 12px !important;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    border: none !important;
    margin-bottom: 16px;
    margin-inline-end: 16px;
    border-radius: 8px;
  }
}

.account-change-password {
  label {
    width: 140px !important;

    &::after {
      display: none !important;
    }
  }

  .ant-col {
    width: auto !important;
  }

  .ant-input-affix-wrapper {
    border-color: #d9d9d9 !important;
  }
}

// custom crop image
.custom-crop-image {
  .reactEasyCrop_CropArea {
    color: #ffffff !important;
  }
}

// custom slider antd
.custom-dot {
  .ant-slider-handle {
    &::after {
      display: none;
    }

    &::before {
      display: none;
    }

    width: 4px;
    height: 12px;
    background-color: #333333;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .ant-slider-track {
    background-color: #333333 !important;
  }
}

.avatar-uploader {
  text-align: center !important;
}

.upgrade-account {
  .ant-input {
    padding: 11px !important;
    border-color: #9a9a9a;

    &:hover {
      border-color: #eb7a01;
    }
  }

  .ant-select-selector {
    padding: 7px 11px !important;
  }

  .ant-select-selection-placeholder {
    color: #333333 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .ant-col {
    width: auto !important;
  }
}

.circle-checkbox {
  .ant-checkbox-inner,
  .ant-checkbox-input {
    border-radius: 50% !important;
  }
}

.custom-menu {
  .ant-menu-light.ant-menu-root.ant-menu-inline {
    border-inline-end: 1px solid transparent;
  }

  .ant-menu-title-content {
    color: #333333;
  }

  .ant-menu-title-content {
    font-size: 20px;
    font-weight: 500;
  }

  .ant-menu-submenu-inline {
    ul {
      li {
        padding-left: 24px !important;

        span.ant-menu-title-content {
          font-size: 16px;
          font-weight: 400;
          position: relative;
        }
      }
    }
  }

  .ant-menu-item-selected,
  .ant-menu-item-active {
    background-color: transparent !important;

    .ant-menu-title-content {
      color: #eb7a01;
      font-weight: 500;
    }
  }

  .ant-menu-item-selected {
    &::before {
      position: absolute;
      left: 10px;
      content: "";
      width: 4px;
      height: 24px;
      background-color: #eb7a01;
      border-radius: 4px;
    }
  }
}
