@import "reset";
@import "variables";
@import "tailwindcss";
@import "button";
@import "flickity";
@import "override";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

:root {
  --primary-color: #314eac;
  --secondary-color: #000;
}

body {
  line-height: 1;
  font-family: $font !important;
  color: $text-color;
  font-weight: 500;
  background-color: white;
  height: 100%;
}

label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: $text-color;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $text-color;

  &:hover {
    color: $primary-color !important;
    font-weight: 500 !important;
    margin-bottom: 0px;
    cursor: pointer;

    .bottom-menu {
      display: block;
      background: $primary-color;
      border-radius: 1px;
      width: 50%;
      width: 24px;
      height: 2px;
    }
  }

  .bottom-menu {
    display: none;
  }

  &.active {
    @extend :hover;
  }
}

.text-ellipsis-clip-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: $text-color;

  &:hover {
    color: $primary-color;
  }
}

.text-ellipsis-clip-desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.filter-black {
  filter: invert(100%) sepia(63%) saturate(6234%) hue-rotate(246deg)
    brightness(87%) contrast(156%);
}

.ant-pagination .ant-pagination-item-active {
  a {
    color: #ffffff !important;
  }

  border-color: $primary-color;
}
