@import "reset";
@import "variables";
@import "product";
@import "role";
@import "index";
@import "button";
@import "product";
@import "override";
@import "header";
@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

:root {
  --primary-color: #314eac;
  --secondary-color: #000;
}

body {
  line-height: 1;
  font-family: $font !important;
  color: $text-color;
  font-weight: 500;
  background-color: white;
  height: 100%;
}

.field-required {
  color: red;
}

.onboard-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  height: 100vh;

  .left {
    width: 100%;
    height: 100%;
    flex: 1;
  }

  .left-signin {
    @extend .left;

    @media screen and (max-width: $breakpoint) {
      display: none;
    }
  }

  .left-signup {
    @extend .left;

    @media screen and (max-width: $breakpoint) {
      display: none;
    }
  }

  .right {
    width: 100%;
    height: 100%;
    flex: 1;

    &-bottom {
      height: 386px;
      bottom: 0;
      left: 50%;
      right: 0;
      position: absolute;
      background-image: url("../images/bottom.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    @media screen and (max-width: $breakpoint) {
      display: none;
    }
  }

  .right-signin {
    @extend .right;

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 80px 40px auto 40px;
      min-height: 300px;

      &-nav {
        display: flex;
        justify-content: flex-start;
        padding: 21px 10px;
        cursor: pointer;
      }

      &-content {
        margin: 80px 60px;

        @media screen and (max-width: $breakpoint) {
          margin: 48px 20px;
        }

        .heading {
          .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 120px;
            max-height: 30px;
          }

          .welcome {
            margin-top: 16px;
            margin-bottom: 32px;
            font-size: 32px;
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            span:nth-child(2) {
              font-size: 20px;
              font-weight: 500;
            }
          }
        }

        .group-input {
          margin: 32px 0px;
        }

        .group-action {
          .signin {
            width: 100%;
          }

          .register-link {
            margin-top: 24px;
            display: flex;
            justify-content: flex-end;

            .have-account {
              font-weight: 400;
              margin-right: 8px;
              font-size: 16px;
              line-height: 150%;
            }

            .register-now {
              font-weight: 500;
              color: $primary-color;
              text-decoration: none;
            }
          }
        }

        .sign-seperator {
          margin-top: 32px;
          width: 100%;
          height: 24px;
          text-align: center;
          border-top: 1px solid #7f7f7f;

          .sepe-title {
            font-weight: 400;
            font-family: "Roboto";
            font-style: normal;
            font-size: 16px;
            background-color: #fff;
            padding: 0 16px;
            position: relative;
            top: -16px;
          }
        }

        .signin-other-platform {
          .sign-google {
            margin-bottom: 24px;
          }

          .sign-other-btn {
            @extend .ibuild-btn;
            background-color: #fff !important;
            border: 1px solid $primary-color !important;
            width: 100%;
            flex-direction: row !important;
            color: $primary-color !important;
            font-weight: 500;
          }
        }

        // base style for test desc
        .base-text {
          font-size: 16px;
          line-height: calc(24 / 16);
          font-weight: 400;
          text-align: justify;
        }

        .change-password-success {
          margin: 24px 0;

          img {
            margin: 0 auto;
          }
        }

        .change-password-noty {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: center;

          &-hours {
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            text-align: center;
          }
        }

        .change-password-desc {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: justify;
        }
      }

      @media screen and (max-width: $breakpoint) {
        margin: 60px 0px;
      }
    }

    @media screen and (max-width: $breakpoint) {
      display: block;
    }
  }

  .container {
    width: 380px;
    height: 272px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 24px;
    position: absolute;
    top: 30%;
    right: 20%;
    background-color: #fff;

    .text-intro {
      font-size: 24px;
      font-weight: 500;
      line-height: 150%;
      color: $text-color;
    }

    @media screen and (max-width: $breakpoint) {
      padding: 60px 32px;
      border-radius: 8px;
      left: 20px;
      right: 20px;
      top: 242px;
      width: auto;
    }
  }
}

label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: $text-color;
}

.sepec-menu {
  display: flex;
  align-items: center !important;

  .spece {
    padding: 0 8px;
  }
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $text-color;

  &:hover {
    color: $primary-color !important;
    font-weight: 500 !important;
    margin-bottom: 0px;
    cursor: pointer;

    .bottom-menu {
      display: block;
      background: $primary-color;
      border-radius: 1px;
      width: 50%;
      width: 24px;
      height: 2px;
    }
  }

  .bottom-menu {
    display: none;
  }

  &.active {
    @extend :hover;
  }
}

.checkbox-group {
  display: flex;
  flex-direction: column;

  .item {
    margin-left: 0px;
    margin-top: 16px;
  }
}

.wrap-menu {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

// overrid .image-gallery-thumbnail
.image-gallery-thumbnail {
  max-width: 80px;
  max-height: 80px;

  &.active {
    border: 2px solid $primary-color;
  }

  &:hover {
    border: 2px solid $primary-color;
  }
}

.loading-dynamic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 200px;
  min-width: 200px;
}

.ant-col,
.ant-row {
  width: 100% !important;
}

.supplier-categories {
  width: 100%;

  &_title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
  }

  &_list {
    &_item {
      margin-top: 24px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      padding-left: 4px;

      &.active {
        color: $primary-color;
        border-left: 2px solid $primary-color;
        font-weight: 500;
      }

      &:hover {
        cursor: pointer;
        color: $primary-color;
        border-left: 2px solid $primary-color;
        font-weight: 500;
      }
    }
  }

  @media screen and (max-width: $breakpoint) {
    display: none !important;
  }
}

button:disabled,
button[disabled] {
  background: #d1d1d1;
  color: #fff;
  pointer-events: none;
}

.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: $primary-color !important;
}

.password-helper {
  margin: 8px 16px -8px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  li {
    list-style-type: disc;
    color: #999999;

    &.error {
      color: #E64545;
    }

    &.success {
      color: #4D993D
    }
  }
}

.error {
  color: #E64545;
}

// Overrid antd css
.ant-form-item-explain-error {
  margin: 4px 0 !important;
}