@import "variables";

.CardRoot {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 32px 0px 32px 32px;
    gap: 10px;
    background: #F8F9FF;
    border-radius: 4px;

    &_Main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;

        &_Name {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 150%;
            color: $text-color;
            margin-bottom: 24px;
        }

        &_Childs {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 16px;

            &_Item {
                display: flex;
                gap: 4;
                flex-direction: row;
                align-items: center;

                &:hover {
                    color: $primary-color;
                    cursor: pointer;
                }

                &_Icon {
                    width: 16px;
                    height: 16px;
                    background: url("../../../images/icons/arrow_forward_ios_black.png");
                    background-repeat: no-repeat;
                    background-size: 16px 16px;
                    margin-right: 4px;
                }

                &_Text {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: $text-color;

                    @media screen and (max-width: $breakpoint) {
                        max-width: 176px;
                    }

                    &:hover {
                        color: $primary-color;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &_Image {
        max-width: 250px;
        object-fit: cover;

        @media screen and (max-width: $breakpoint) {
            position: absolute;
            bottom: 0;
            right: 16px;
        }
    }
}