@import "variables";

.Avatar_Area {
    min-width: 172px;
    min-height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    margin-bottom: 6px;

    &_Avatar {
        width: 32px;
        height: 32px;
    }

    .DropDown {
        color: $text-color;
    }
}