@import "variables";
@import "button";

.productDetail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    margin-top: 60px;
    width: 100%;

    .productInfo {
        width: 100%;

        .productSlider {
            flex: 1;
            width: 100%;
        }

        .productDetailInfo {
            flex: 1;
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 24px;
            flex-direction: column;

            .productDetailInfoTop {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 24px;

                .productTitle {
                    font-style: normal !important;
                    font-weight: 400 !important;
                    font-size: 24px !important;
                }

                .supplier {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .suppLogo {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 32px;
                        height: 32px;
                    }

                    .suppName {
                        font-size: 16px;
                    }
                }

                .price {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 125%;
                }

                .infoRow {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0px;
                    gap: 16px;

                    .icon {
                        width: 24px;
                        height: 24px;
                    }

                    .label,
                    .number {
                        font-size: 16px;
                    }
                }

                .action {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 16px;
                    width: 100%;

                    div {
                        flex: 1;
                    }
                }
            }

            .productDetailInfoBottom {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 16px;
                font-weight: 400;
                font-size: 16px;
                color: $text-color;
                line-height: 150%;

            }
        }
    }

    .productChartPrice {
        width: 100%;
    }

}

.buttonPhone {
    @extend .btn-in-card;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.priceChartTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}