@import "variables";

.ProjectCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    background: #F8F9FF;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 11px rgba(33, 33, 33, .1);
    }

    &_Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 16px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

        &_FeatureImage {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            max-height: 150px;
            border-radius: 4px;
            gap: 10px;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
        }

        &_Info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 10px;

            &_Title {
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
            }

            &_Desc {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
            }

            &_Avata {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                gap: 4px;
                margin-right: 4px;

                &_Title {
                    width: 24px;
                    height: 24px;
                }

                &_Title {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                }
            }
        }
    }
}