.wrapper {
    max-width: 1440px;
    height: auto;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 60px;
    gap: 16px;
    background: #fff;
    width: 100%;

    &:not(.header-border) {
        border-bottom: none !important;

        .search-mobile {
            display: none !important;
        }
    }

    &.header-border {
        border-bottom: 1px solid #ececec;
        display: flex;
        flex-direction: column;
    }

    @media screen and (max-width: $breakpoint) {
        padding: 56px 20px 16px 20px;
        border-bottom: 0.5px solid #bfbfbf;
    }

    .logo {
        gap: 24px;
        max-width: 90px;
        max-height: 24px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .menu-items {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0;
            gap: 32px;

            .menu-item {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                cursor: pointer;
                color: #343434;
                text-decoration: none;
            }

            @media screen and (max-width: $breakpoint) {
                display: none;
            }
        }

        .toggle-button {
            display: none;

            &:hover {
                cursor: pointer;
            }

            @media screen and (max-width: $breakpoint) {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }
    }
}

#menuDrawer {
    padding: 52px 28px !important;
    width: 86%;
}

.nav-item {
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0;
    }
}

.nav-link {
    color: $text-color !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 150% !important;
    align-items: flex-start !important;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 60px 16px;

    .search-content {
        width: 100%;
        min-height: 440px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background-image: url("../images/search-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        .title {
            color: #fff !important;
            font-weight: 600;
            font-size: 40px;
            text-align: center;
            line-height: 150%;

            @media screen and (max-width: $breakpoint) {
                font-size: 20px;
                padding-left: 20px;
            }
        }

        .search-input-container {
            display: flex;
            min-height: 56px;
            width: 50%;
            align-items: center;
            padding: 5px;
            gap: 10px;
            border: 1px solid #dddddd;
            border-radius: 8px;
            justify-content: space-between;
            background-color: #fff;

            .search-icon {
                margin-left: 8px;
            }

            .input-search {
                width: 100%;

                #search-input {
                    border: none !important;

                    &::placeholder {
                        color: $text-color !important;
                        opacity: 1 !important;
                        font-weight: 400;
                        font-size: 16px;

                        @media screen and (max-width: $breakpoint) {
                            color: #717171;
                        }
                    }

                    &:-ms-input-placeholder {
                        color: $text-color !important;
                    }

                    &::-ms-input-placeholder {
                        color: $text-color !important;
                    }
                }
            }

            .button-search {
                @media screen and (max-width: $breakpoint) {
                    display: none !important;
                }
            }

            @media screen and (max-width: $breakpoint) {
                width: 100% !important;
            }
        }

        @media screen and (max-width: $breakpoint) {
            min-height: 242px;
            padding: 40px;
        }
    }

    section.cards {
        margin-top: 10px;
        padding: 80px 0;

        .my-cards {
            width: 100%;
            margin: auto !important;
        }

        .my-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 80px 32px;
            gap: 24px;
            min-height: 540px;
            background: #ffffff;
            box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: box-shadow .3s;

            &:hover {
                box-shadow: 1px 10px 15px 1px rgba(0, 0, 0, 0.3);
            }

            .img-feat {
                min-height: 180px;
            }

            .card-desc {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
            }
        }
    }
}

.main-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    border-top: 1px solid #dddddd;

    .row-footer {
        width: 100%;
    }

    .info {
        padding: 56px 24px 16px 120px;

        .logo-space {
            display: flex;
            flex-direction: column;
        }

        .desc {
            margin-top: 8px;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
        }

        @media screen and (max-width: $breakpoint) {
            padding: 16px 24px;
        }
    }

    .addresses {
        display: flex;
        align-items: flex-start;
        padding-left: 120px;
        gap: 8px;

        .address-icon {
            width: 24px;
            height: 24px;
        }

        .address-info {
            .desc {
                margin-bottom: 8px;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;

                :last-child {
                    margin-bottom: 0px;
                }
            }
        }

        @media screen and (max-width: $breakpoint) {
            padding-left: 24px;
        }
    }

    .copyright {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 0px 0px 16px;
        gap: 16px;

        @media screen and (max-width: $breakpoint) {
            padding: 16px 24px;
        }

        .text {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            padding: 0px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
        }
    }
}

.footer-menu {
    padding: 115px 0px 0px 50px;

    .nav-item {
        margin-bottom: 16px !important;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    @media screen and (max-width: $breakpoint) {
        padding: 16px 24px;
    }
}

.footer-form {
    margin: 115px 50px;
    padding: 0px;

    #footer-search-input {
        background-color: $primary-color;
    }

    .input-gr {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        background: #FFFFFF;

        border: 1px solid #DDDDDD;
        border-radius: 4px;

        input {
            border: none;
            margin-left: 16px;
            // &::placeholder {
            //     padding-left: 16px;
            // }
        }

        .icon-send {
            width: 60px;
            height: 43px;
            background: $primary-color;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
        }
    }

    @media screen and (max-width: $breakpoint) {
        // padding-left: 70px;
        margin: 0px 24px
    }
}

.row {
    @media screen and (max-width: $breakpoint) {
        gap: 24px !important;
    }
}