$font: 'Roboto', sans-serif;
$heading-font: "Gotham";
$text-color: #343434;
$heading-color: #231F20;
$primary-color: #C43330;
$gray-color: #dde0e4;
$gray-light-color: #f8f8f8;
$gray-lighter-color: #ddd;
$breakpoint: 1024px